* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: gainsboro;
}

.container {
  margin: auto;
  text-align: center;
}

.myheader {
  padding: 30px;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline;
  padding: 5px 10px;
}

.btn {
  /* color: rgb(0, 120, 240);
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.115);
  border-style: none;
  border-radius: 6vw; */
  padding: 5px 5px;
}

.content {
  padding: 30px;
}

.form-control-search * {
  padding: 5px 10px;
  margin: 0px 5px 0px 5px;
}

.img-list {
  padding: 20px;
}

.img-list ul {
  list-style-type: none;
}

.btn-back {
  padding-top: 40px;
}

.img-item {
  display: inline-block;
  padding: 20px;
}

.img-box {
  position: relative;
  width: 150px;
  height: 99px;
}

.img-box button {
  position: absolute;
  width: 44%;
  top: 36px;
  right: 28%;
  opacity: 0.9;
}

.img-box img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.115);
}

.img-box img:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
  opacity: 0.75;
}

.add-img-box {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 99px;
  border-radius: 1vw;
  border: 3px dashed black;
}

#add-img-link {
  position: relative;
  top: 37px;
}

#add-img-link:visited,
#add-img-link:link {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
