* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: gainsboro;
}

.container {
  margin: auto;
  text-align: center;
}

.myheader {
  padding: 30px;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline;
  padding: 5px 10px;
}

.btn {
  color: rgb(0, 120, 240);
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
  border-style: none;
  border-radius: 6vw;
  padding: 5px 5px;
  cursor: pointer;
}

.btn-disabled {
  background-color: rgba(42, 42, 42, 0.705);
}

.content {
  padding: 30px;
}

.form-control-search * {
  padding: 5px 10px;
  margin: 0px 5px 0px 5px;
}

.img-list {
  padding: 20px;
}

.img-list ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

.btn-back {
  padding-top: 40px;
}

.img-item {
  display: inline-block;
  padding: 18px;
}

.add-img-box {
  display: inline-block;
  cursor: pointer;
  width: 190px;
  height: 120px;
  border-radius: 1vw;
  border: 3px dashed black;
}

.add-img-box span {
  position: relative;
  top: 44px;
  font-size: 13px;
  color: black;
}

.img-box {
  position: relative;
  width: 190px;
  height: 120px;
}

.img-box button {
  position: absolute;
  width: 44%;
  top: 47px;
  right: 28%;
  opacity: 0.9;
}

.img-box img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.115);
}

.img-box img:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
  opacity: 0.75;
}
