* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
}

.container {
  margin: auto;
  background-color: greenyellow;
  width: 80%;
  text-align: center;
}

.myheader {
  padding: 30px;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_bar li {
  display: inline;
  padding: 5px 10px;
}

.btn {
  padding: 5px 5px;
}

.content {
  padding: 30px;
}

.form-control-search * {
  padding: 5px 10px;
  margin: 0px 5px 0px 5px;
}

.search-results {
  padding: 40px;
}

.btn-back {
  padding-top: 40px;
}

.fav-list {
  padding: 40px;
}

.images-list {
  list-style-type: none;
  /* padding: 30px; */
}

.image {
  display: inline-block;
  padding: 20px;
}

.add-image {
  width: 150px;
  height: 99px;
  border-radius: 1vw;
  border: 3px dashed black;
}

.add-image span {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  top: 42%;
}
